/* Enter layout styles */
.welcome-page {
  height: 100vh;
  padding: 0;
  overflow: hidden;
  background-image: url("../img/wallpaper/welcome-page.jpg");
  background-size: cover;
}

.welcome-page:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 70%;
  right: 0;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgb(255, 255, 255, 0));
  z-index: 1;
}

.welcome-page:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 1), rgb(255, 255, 255, 0));
  z-index: 1;
}

.welcome-box {
  margin: 150px;
  position: relative;
  z-index: 9;
  max-width: 300px;
}

.welcome-box .welcome-title {
  line-height: 40px;
}

.welcome-box .welcome-desc {
  line-height: 30px;
}

.welcome-box a {
  border-radius: 15px;
  box-shadow: -7px 7px 10px rgba(0 0 0 / 0.25);
}

@media only screen and (max-width: 600px) {
  .welcome-page:after {
    display: none;
  }

  .welcome-page:before {
    bottom: 0;
  }
  
  .welcome-row {
    margin: 0!important;
  }

  .welcome-box {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: fit-content;
    padding: 150px 20px 50px 20px;
    text-align: center;
  }

  .welcome-box .welcome-title {
    font-size: 25px;
  }

  .welcome-box a {
    margin-right: auto;
    margin-left:auto;
  }
}
/* Navbar styles */
.navbar {
  opacity: 0.8;
  position: relative;
  z-index: 30;
}

.nav-link {
  font-size: 16px;
  font-weight: bold;
  color: #000000 !important;
  border-bottom: 5px solid transparent;
}

.nav-link:hover {
  border-bottom: 5px solid #ffda79;
}

@media only screen and (max-width: 600px) {
  .navbar {
    opacity: 1;
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-toggler {
    margin-right: 5px;
  }

  .navbar-collapse {
    background: #f1f2f6;
    border: 1px solid rgb(149, 165, 166);
    padding: 5px !important;
    position: absolute;
    top: 100%;
    left: 0px;
    right: 0px;
    z-index: 30;
  }

  .nav-item {
    margin: 0 !important;
    padding: 15px !important;
  }

  .nav-item:not(:first-child) {
    border-top: 1px solid #576574;
  }

  .nav-item span {
    margin-right: 15px !important;
  }
}
/* Authentication Styles */
.register, .login, .passwords-email, .passwords-reset {
  margin-top: 75px;
  position: relative;
  z-index: 20;
}

.register .card, .login .card, .passwords-email .card, .passwords-reset .card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.register .card-header, 
.login .card-header, 
.passwords-email .card-header, 
.passwords-reset .card-header {
  background: #ffda79;
}

.register button[type="submit"], .login button[type="submit"] {
  background: #ffda79;
  border: none;
  box-shadow: 0 0 5px rgba(0 0 0 / 0.25);
  color: #000000;
  font-weight: bold;
}

.register button[type="submit"]:hover, .login button[type="submit"]:hover {
  background: #ffb142;
}

.register input:focus, .login input:focus {
  border: none;
  box-shadow: 0 0 5px #f39c12;
}

.password-recovery {
  color: #f39c12;
  border: none;
}

.password-recovery:hover {
  color: #e67e22;
}

.password-recovery:focus {
  border: none;
  box-shadow: none;
}