/* Base layout styles */
.main {
  display: flex;
  max-height: 100vh;
  overflow: hidden;
}

.sidebar {
  width: 20%;
  background: #dff9fb;
  height: 100vh;
  padding: 40px 20px 20px 20px;
}

.content {
  width: 80%;
  background: #dff9fb;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    width: 100%;
    position: absolute;
    z-index: 100;
    right: -100%;
    transition: 0.9s all ease;
  }
  
  .sidebar.show {
    right: 0;
  }

  .content {
    width: 100%;
    height: 100vh;
  }
}
/* Sidebar styles */
.sidebar-inner {
  text-align: center;
  position: relative;
  height: 100%;
}

.user-image img {
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0 0 0 / 0.3);
}

.user-name {
  color: #212529;
}

.sidebar-inner hr {
  border-top: 1px solid #212529;
}

.list-group {
  padding: 0;
}

.sidebar-menu .list-group-item {
  cursor: pointer;
  transition: 0.3s all ease;
  border: none;
  border-radius: 20px !important;
  box-shadow: 0 0 10px rgba(0 0 0 / 0.25);
}

.list-group-item:hover, .list-group-item.active {
  background: #ffeaa7;
}

.list-group-item a {
  font-size: 16px;
  color: #2d3436;
}

.list-group-item:hover a, 
.list-group-item:hover a i, 
.list-group-item.active a, 
.list-group-item.active a i {
  color: #40407a !important;
}

.exit-btn-wrapper {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}

.exit-btn {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  text-align: right;
  font-size: 16px;
  color: #2d3436;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0 0 0 / 0.25);
}

.exit-btn:hover, .exit-btn:hover i {
  background: #ffeaa7;
  color: #40407a !important;
}

@media only screen and (max-width: 600px) {
  .sidebar-hide {
    position: absolute;
  }
}
/* Content Header */
.content-header li {
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
}

.notification-counter {
  font-size: 60%;
  width: 12px;
  height: 12px;
  transform: translate(-10px, -5px);
}

.read .notification-counter {
  display: none; 
}

.read .bi-bell {
  color: #6c757d !important;
}

.dropdown-bell .dropdown-menu {
  max-height: 500px;
  width: 600px;
  overflow-y: auto;
  overflow-x: hidden;
}

.dropdown-bell .dropdown-menu .dropdown-item {
  white-space: unset !important;
}

.unread-notification {
  background: #dff9fb;
}

.search input {
  width: 0 !important;
  padding-right: 0; 
  padding-left: 0; 
  margin-right: 0 !important;
  border: none;
  overflow: hidden;
  transition: 0.5s all ease;
}

.search input:focus {
  box-shadow: none;
}

.search:hover input {
  width: 200px !important;
  padding-right: 10px; 
  padding-left: 10px; 
}

.search .fa-search {
  font-size: 1.2em;
  transform: translateY(1px);
}

.perPage-select {
  cursor: pointer;
}

.filters-wrapper {
  position: absolute;
  top: -60px;
  left: 3%;
  right: 3%;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 5px rgba(0 0 0 / 0.25);
  background: #f1f2f6;
  z-index: 40;
  transition: 0.7s all ease;
}

.filters-wrapper.show {
  top: 0;
}

.filters-wrapper .slider-btn {
  position: absolute;
  bottom: -27px;
  right: 5%;
  background: #f1f2f6 !important;
  padding: 3px 10px;
  border-radius: 0 0 50% 50%;
  border: 2px solid #00000015 !important;
  border-top: none !important;
  font-size: 12px;
  z-index: 39;
}

.filters-wrapper .slider-btn .fa-angle-down.up {
  transform: rotate(180deg);
}

.date-filter input {
  border: 1px solid #6c757d;
  border-radius: 0;
  width: 100px;
}

.date-filter .from-date-input {
  border-radius: 0 5px 5px 0;
}

.date-filter .to-date-input {
  border-radius: 5px 0 0 5px;
}

.date-filter input:focus {
  /* border: 1px solid #6c757d !important; */
  outline: 0 none;
}

.date-filter button {
  border-radius: 5px;
  transform: translateX(5px);
}

@media only screen and (max-width: 600px) {
  .filters-wrapper {
    left: 0;
    right: 0;
    top: -110px;
  }

  .filters-wrapper ul {
    justify-content: center;
  }

  .filters-wrapper .slider-btn {
    bottom: -23px;
    right: 20%;
    font-size: 10px;
  }

  .filters-wrapper input, .filters-wrapper select, .filters-wrapper button {
    font-size: 10px;
  }

  .date-filter input{
    margin-left: 10px;
  }
}