body {
  direction: rtl;
  text-align: right !important;
}

/* Enter layout styles */
.welcome-page {
  height: 100vh;
  padding: 0;
  overflow: hidden;
  background-image: url("../img/wallpaper/welcome-page.jpg");
  background-size: cover;
}

/* Navbar styles */
.navbar {
  background: transparent !important;
}

.nav-link {
  color: #2d3436 !important;
  font-size: 18px;
}

/* Base layout styles */
.main {
  display: flex;
}

.sidebar {
  width: 20%;
  background: #9980FA;
  height: 100vh;
  padding: 20px;
}

.content {
  width: 80%;
}

/* Sidebar styles */
.sidebar-inner {
  text-align: center;
  position: relative;
  height: 100%;
}

.user-image img {
  border-radius: 50%;
  margin-bottom: 20px;
}

.user-name {
  color: #ffffff;
}

.sidebar-inner hr {
  border-top: 1px solid #ffffff;
}

.list-group {
  padding: 0;
}

.list-group-item {
  cursor: pointer;
}

.exit-btn-wrapper {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}

.exit-btn {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  text-align: right;
}

/* Content styles */
.content-inner {
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 0 0 5px rgba(0 0 0 / 0.25);
  height: 90%;
}

/* Register/Login styles */
.register, .login {
  margin-top: 75px;
}

.register .card, .login .card {
  opacity: 0.9;
}
