body {
  direction: rtl;
  text-align: right !important;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #e4e5eb;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d2d3da;
}

/* Enter layout styles */
.welcome-page {
  height: 100vh;
  padding: 0;
  overflow: hidden;
  background-image: url("../img/wallpaper/welcome-page.jpg");
  background-size: cover;
}

.welcome-page:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 80%;
  right: 0;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgb(255, 255, 255, 0));
  z-index: 1;
}

.welcome-page:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 1), rgb(255, 255, 255, 0));
  z-index: 1;
}

.welcome-box {
  margin: 150px;
  position: relative;
  z-index: 10;
  max-width: 300px;
}

.welcome-box .welcome-title {
  line-height: 40px;
}

.welcome-box .welcome-desc {
  line-height: 30px;
}

.welcome-box a {
  border-radius: 15px;
  box-shadow: -7px 7px 10px rgba(0 0 0 / 0.25);
}

/* Navbar styles */
.navbar {
  opacity: 0.8;
  position: relative;
  z-index: 10;
}

.nav-link {
  font-size: 17px;
  font-weight: bold;
  color: #000000 !important;
  border-bottom: 5px solid transparent;
}

.nav-link:hover {
  border-bottom: 5px solid #ffda79;
}

/* Base layout styles */
.main {
  display: flex;
  max-height: 100vh;
  overflow: hidden;
}

.sidebar {
  width: 20%;
  background: #dff9fb;
  height: 100vh;
  padding: 40px 20px 20px 20px;
}

.content {
  width: 80%;
  background: #dff9fb;
}

/* Sidebar styles */
.sidebar-inner {
  text-align: center;
  position: relative;
  height: 100%;
}

.user-image img {
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0 0 0 / 0.3);
}

.user-name {
  color: #212529;
}

.sidebar-inner hr {
  border-top: 1px solid #212529;
}

.list-group {
  padding: 0;
}

.sidebar-menu .list-group-item {
  cursor: pointer;
  transition: 0.3s all ease;
  border: none;
  border-radius: 20px !important;
  box-shadow: 0 0 10px rgba(0 0 0 / 0.25);
}

.list-group-item:hover, .list-group-item.active {
  background: #ffeaa7;
}

.list-group-item a {
  font-size: 16px;
  color: #2d3436;
}

.list-group-item:hover a, .list-group-item.active a{
  color: #40407a;
}

.exit-btn-wrapper {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}

.exit-btn {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  text-align: right;
  font-size: 16px;
  color: #2d3436;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0 0 0 / 0.25);
}

.exit-btn:hover {
  background: #ffeaa7;
  color: #40407a;
}

/* Content Header */
.content-header li {
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
}

.notification-counter {
  font-size: 70%;
  transform: translate(-10px, 5px);
}

.read .notification-counter {
  display: none; 
}

.read .bi-bell {
  color: #6c757d !important;
}

.search input {
  width: 0 !important;
  padding-right: 0; 
  padding-left: 0; 
  margin-right: 0 !important;
  border: none;
  overflow: hidden;
  transition: 0.5s all ease;
}

.search input:focus {
  box-shadow: none;
}

.search:hover input {
  width: 200px !important;
  padding-right: 10px; 
  padding-left: 10px; 
}

/* Content styles */
.content-inner {
  margin: 0 20px;
  padding: 20px;
  border-radius: 5px 5px 0 0;
  background: #ffffff;
  box-shadow: 0 0 5px rgba(0 0 0 / 0.25);
  height: 95%;
  overflow: hidden;
}

/* Authentication */
.register, .login, .passwords-email, .passwords-reset {
  margin-top: 75px;
  position: relative;
  z-index: 20;
}

.register .card, .login .card, .passwords-email .card, .passwords-reset .card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.register .card-header, 
.login .card-header, 
.passwords-email .card-header, 
.passwords-reset .card-header {
  background: #ffda79;
}

.register button[type="submit"], .login button[type="submit"] {
  background: #ffda79;
  border: none;
  box-shadow: 0 0 5px rgba(0 0 0 / 0.25);
  color: #000000;
  font-weight: bold;
}

.register button[type="submit"]:hover, .login button[type="submit"]:hover {
  background: #ffb142;
}

.register input:focus, .login input:focus {
  border: none;
  box-shadow: 0 0 5px #f39c12;
}

.password-recovery {
  color: #f39c12;
  border: none;
}

.password-recovery:hover {
  color: #e67e22;
}

.password-recovery:focus {
  border: none;
  box-shadow: none;
}

/* Dashboard */
.request-list {
  padding: 30px 5px 70px 40px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

#accordion .card {
  box-shadow: 0 0 5px rgba(0 0 0 / 0.25);
  border: none;
}

.vacation-header {
  cursor: pointer;
  transition: 0.5s all ease; 
}

.vacation-header[aria-expanded="false"] {
  background: #f5f6fa;
}

.vacation-header[aria-expanded="true"] {
  background: #f6e58d;
}

.vacation-title {
  min-width: 400px;
}

.status {
  font-size: 13px;
}

.change-status label {
  min-width: 100px;
}

.change-status select {
  width: 15%;
}

/* Create Vacation/Profile page styles */
.request-form-wrapper {
  padding: 10px 5px 50px 40px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.request-form, .profile-form {
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0 0 0 / 0.25);
  background: #f1f2f6;
}

.image_area {
  position: relative;
  text-align: center;
  max-width: 250px;
  margin: 0 auto;
}

.overlay {
  position:absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  background-color: #f1f2f630;
  overflow: hidden;
  height: 0;
  transition: 0.5s ease;
  width: 100%;
}

.image_area:hover .overlay {
  height: 100%;
  cursor: pointer;
}

.text {
  color: #333;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.preview {
  display: block;
  max-width: 290px;
  height: 290px;
  border: 1px solid #333;
  overflow: hidden;
  margin-left: 20px;
}

#sample_image {
  max-height: 500px;
  overflow: hidden;
}
