body {
  direction: rtl;
  text-align: right !important;
}

/* Enter layout styles */
.welcome-page {
  height: 100vh;
  padding: 0;
  overflow: hidden;
  background-image: url("../img/wallpaper/welcome-page.jpg");
  background-size: cover;
}

/* Navbar styles */
.navbar {
  opacity: 0.8;
}

.nav-link {
  font-size: 18px;
  color: #000000 !important;
  border-radius: 15px;
  transition: 0.3s all ease;
}

.nav-link:hover {
  background: #ffda79!important;
}

/* Base layout styles */
.main {
  display: flex;
}

.sidebar {
  width: 20%;
  background: #63cdda;
  height: 100vh;
  padding: 20px;
}

.content {
  width: 80%;
}

/* Sidebar styles */
.sidebar-inner {
  text-align: center;
  position: relative;
  height: 100%;
}

.user-image img {
  border-radius: 50%;
  margin-bottom: 20px;
}

.user-name {
  color: #ffffff;
}

.sidebar-inner hr {
  border-top: 1px solid #ffffff;
}

.list-group {
  padding: 0;
}

.list-group-item {
  cursor: pointer;
  transition: 0.3s all ease;
  border: none;
}

.list-group-item:hover, .list-group-item.active {
  background: #ffeaa7;
}

.list-group-item a {
  font-size: 16px;
  color: #2d3436;
}

.list-group-item:hover a, .list-group-item.active a{
  color: #40407a;
}

.exit-btn-wrapper {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}

.exit-btn {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  text-align: right;
  font-size: 16px;
  color: #2d3436;
}

.exit-btn:hover {
  background: #ffeaa7;
  color: #40407a;
}

/* Content styles */
.content-inner {
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 0 0 5px rgba(0 0 0 / 0.25);
  height: 90%;
}

/* Register/Login styles */
.register, .login {
  margin-top: 75px;
}

.register .card-header, .login .card-header {
  background: #ffda79;
}

.register button[type="submit"], .login button[type="submit"] {
  background: #ffda79;
  border: none;
  box-shadow: 0 0 5px rgba(0 0 0 / 0.25);
  color: #000000;
  font-weight: bold;
}

.register button[type="submit"]:hover, .login button[type="submit"]:hover {
  background: #ffb142;
}

.register input:focus, .login input:focus {
  border: none;
  box-shadow: 0 0 5px #f39c12;
}

.password-recovery {
  color: #f39c12;
  border: none;
}

.password-recovery:hover {
  color: #e67e22;
}

.password-recovery:focus {
  border: none;
  box-shadow: none;
}

/* Dashboard */
#accordion .card {
  box-shadow: 0 0 5px rgba(0 0 0 / 0.25);
  border: none;
}

.vacation-header {
  cursor: pointer;
  transition: 0.5s all ease; 
}

.vacation-header[aria-expanded="false"] {
  background: #f5f6fa;
}

.vacation-header[aria-expanded="true"] {
  background: #f6e58d;
}

.vacation-title {
  min-width: 600px;
}

.change-status label {
  min-width: 100px;
}

.change-status select {
  width: 15%;
}

/* Create Vacation/Profile page styles */
.request-form, .profile-form {
  border: none;
  box-shadow: 0 0 10px rgba(0 0 0 / 0.25);
  background: #dff9fb;
}

.image_area {
  position: relative;
  text-align: center;
}

.overlay {
  position:absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255,0.3);
  overflow: hidden;
  height: 0;
  transition: 0.5s ease;
  width: 100%;
}

.image_area:hover .overlay {
  height: 100%;
  cursor: pointer;
}

.text {
  color: #333;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.preview {
  display: block;
  max-width: 290px;
  height: 290px;
  border: 1px solid #333;
  overflow: hidden;
  margin-left: 20px;
}
