/* Navbar styles */
.navbar {
  opacity: 0.8;
  position: relative;
  z-index: 30;
}

.nav-link {
  font-size: 16px;
  font-weight: bold;
  color: #000000 !important;
  border-bottom: 5px solid transparent;
}

.nav-link:hover {
  border-bottom: 5px solid #ffda79;
}

@media only screen and (max-width: 600px) {
  .navbar {
    opacity: 1;
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-toggler {
    margin-right: 5px;
  }

  .navbar-collapse {
    background: #f1f2f6;
    border: 1px solid rgb(149, 165, 166);
    padding: 5px !important;
    position: absolute;
    top: 100%;
    left: 0px;
    right: 0px;
    z-index: 30;
  }

  .nav-item {
    margin: 0 !important;
    padding: 15px !important;
  }

  .nav-item:not(:first-child) {
    border-top: 1px solid #576574;
  }

  .nav-item span {
    margin-right: 15px !important;
  }
}